<!-- resources/views/admin/post-news/show.blade.php -->
@extends('layouts.admin')

@section('content')
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h2>{{ $post->headline }}</h2>
            <p>Category: {{ $post->category->name }}</p>
            <p>Date: {{ $post->date }}</p>
            <img src="{{ $post->image_url }}" alt="{{ $post->headline }}" class="img-fluid">
            <div>{!! $post->content !!}</div>
        </div>
    </div>
</div>
@endsection
